
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/*shared style*/
*{
    background-color: #f5f8ff;
}
main{
    /*max-width: 1170px;*/
    margin: 0 auto;
    background-color: #f5f8ff;
   
}
body{
  margin: 0;
  padding: 0;
}
.display-flex{
    display: flex;
}
.color-txt{
    color: #E95A08;
}
/*light-font*/
.light-font{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    
}

.primary-button{
background-color: #E95A08;
color:#FFFFFF ;
width: 270px;
height: 50px;
border: none;
font-size: 16px;
font-weight: 600;

}
.primary-button:hover{
  background-color: rgb(59, 41, 16);
  cursor: pointer;
}
/*Nav styles*/
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width:1140px;
    height: 71px;
    margin: 30px auto;
    padding: 0px;
    
}
.nav-items{
    list-style: none;
    margin-right: 48px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: black;

}
.nav-txt-color{
    color: #8987A1;
}
.nav-logo{
    position: static;
    width: 135px;
    height: 82px;
    margin: 0 10px;
}

/*banner style*/
.banner-title{
font-size: 65px;
font-weight: bold;
}
.banner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
   /* margin: 221px 150px;*/
   margin: 100px auto;
   padding: 0 150px;
    max-width: 1140px;
    
}
.banner-description{
    max-width: 570px;
    margin-top: 20px;
    text-align: left;
   /* line-height: 1.6;*/
}
.banner-title {
  margin-bottom: 13px;
}
.banner-img{
    width: 100%;
    max-width: 570px;
    height: auto;
    display: block;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 570px;
  height: 100%;

}
/*our plan section*/
.our-plants{
max-width: 1170px;
margin: 0 auto;
}
.plant-section-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.our-plants-details{
    text-align: center;
    max-width: 888px;
    height: 54px;
    margin: 16px 126px;
    margin-bottom: 49px;
}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 49px;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}
.plants-card{
gap: 30px;
text-align: center;
width: 270px;

}
.flower-img{
    max-width: 100%;
    margin-bottom: 30px;
    
}
.img-title{
    font-size: 22px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.price{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
/*plant lover section*/

.plants-lover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 250px;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    
}
.lover-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 540px;
}
.lover-img{
    max-width: 100%;
    height: 597px;
    margin-top: 150px;
    
}
.trusted-badge{
  
  margin-top: -1000px;
  left: -100px;
  width: 286px;
  height: auto;
  padding: 0 508px 438px 347px;
  background-color: transparent;
  
}

.plants-lover-container{
    width: 540px;
    flex: 1;
    margin-left: 30px;
    margin-top: 180px;
    
   
}
.plants-lover-description{
font-size: 22px;
font-weight: 400px;

}

/*latest deal section*/
.latest-deals{
text-align: center;
margin-top: 134px;

}
.deals-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}
.deal-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    
}
.deals-description{
    width: 888px;
    height: 54px;
font-size: 22px;
height: 54px;
text-align: center;
margin-left: 290px;
margin-top: 5px;
margin-bottom: 130px;
}

/* bloom and ana in one column */
.column-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 367px;
}

/* Base deal card styling */
.deal-card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;

}

/*  right-side card */
.deal-card .large {
  height: 100%;
  min-height: 520px;
  justify-content: center;
  align-items: center;
  width: 753px;
  border-radius: 22px;

}

/* Specific image classes */
.bloom {
  background-image: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-bloom.png');
}

.ana {
  background-image: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-ana.png');
}

.zabo {
  background-image: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-zabo.png');
}

/* Text overlay */
.overlay {
 background-color: transparent;
  padding: 65px 48px;
  text-align: center;
}

.overlay.center {
  text-align: center;
}

.overlay h3 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;

}

.overlay a {
background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 5px;
  color: #FFFFFF;
  text-align: center;
}
/*join part*/
.colorful-bunch-section {
    background-image: url('../assets/news-letter-bg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 42px;
    /*margin: 0 auto;*/
    margin-top: 120px;
    margin-bottom: 5px;
  
}
.colorful-bunch-content {
    max-width: 830px; 
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}

.colorful-bunch-content h2 {
    font-size: 50px;
    margin: 20px;
    background-color: transparent;
    font-weight: bold;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 645px;
}

.subscribe-form input[type="email"] {
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width:560px;
    
}
/*footer*/
.site-footer {
  background-color:#f5f8ff;
  padding:40px 20px;
  margin-left: 150px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;

}

.footer-column {
  flex: 1 1 100px;
  min-width: 200px;
  margin-left: 10px;
}
.footer-2-coloums{
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.footer-logo {
  width: 135px;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 22px;
  width: 359px;

}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 32px;
}

.footer-column ul li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  /*transition: color 0.3s;*/
}

.footer-column ul li a:hover {
  color: #f60;
}

.social-icons a {
  display: inline-block;
  margin-right: 24px;
}

.social-icons img {
  width: 36px;
  height: 36px;
}


/*responsive*/

@media screen and (max-width:576px){
  
     .nav-items {
    display: none; 
  }
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .cart-item {
    display: block; 
  }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 0 0;
        margin: 50px auto;
    }
    .banner-img{
    max-width: 100%;
    height: auto;
   margin: 0 auto;

    }
    .banner-content {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .banner-description{
    font-size: 14px;
  }

   .plants-lover-description {
    max-width: 90%;
    text-align: left;
    font-size: 14px;
  }
  .banner-title{
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px ;
  }
  .plants-container{
    grid-template-columns: repeat(2,1fr);
   justify-content: center;
    gap: 20px;
    padding: 0 20px;
    
  }
.flower-img{
    max-width: 100%;
}

.our-plants-details{
    font-size: 14px;
    text-align: center;
    margin: 0 auto 30px;
    width: 90%;
}
.plant-section-title{
    font-size: 24px;
}
.plants-card{
    width: 100%;
    /*max-width: 200px;*/
    margin-bottom: 2px;
}
.primary-button{
    width: 100%;
    max-width: 160px;
    height: 45px;
    font-size: 14px;
}
  .plants-lover {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }

  .lover-img {
    width: 100%;
    height: auto;
    margin-top: 3px;
  }

  .plants-lover-container {
    margin: 0 auto;
    max-width: 90%;
    text-align: left;
    justify-items: left;
    margin-left: 0;
  }
  .plants-lover-title{
    margin-bottom: 15px;
  }

  .plants-lover-description {
    font-size: 14px;
    gap: 20px;
  }

  .trusted-badge {
    display: none;
  }

  .deals-grid {
    grid-template-columns: repeat(1,0.1fr);
  }

 .column-left {
    max-width: 100%;
  }

  .deal-card,
  .deal-card.large {
    height: 172px;
   /* min-height: 250px;*/
    width: 100%;
    width: 361px;
    margin-left: -0.5;
    margin-bottom: 15px;
    
  }

  .overlay {
    padding: 30px 20px;
  }

  .overlay h3 {
    font-size: 20px;
  }

  .overlay a {
    font-size: 14px;
  }

  .deal-title {
    font-size: 32px;
  }

  .deals-description {
    font-size: 16px;
    margin: 0 auto 50px;
    padding: 0 20px;
    width: 336px;
  }
  .colorful-bunch-content h2 {
        font-size: 2rem;
    }

    .colorful-bunch-section {

    max-width: 393px;
    width: 100%;
    padding: 0;
    margin: 0;
    }
    .subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 321px;
        height: 50px;
        margin: 23px 36px;
        
    }

    .subscribe-form input[type="email"]{
        width: 100%;
       max-width: 218px;

    }
    .primary-button{
      /*width: 103px;*/
      height: 50px;
    }
    /*.footer-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      width: 100%;
    }
    .site-footer{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 359px;
      padding: 5px;
      width: 100%;

    }
    .footer-column p{
      font-size: 16px;
    }
    
    .footer-column{
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 0;
    }
    .social-icons{
      justify-content: flex-start;
    }*/
  .site-footer {
    margin-left: 0;
    padding: 40px 0.5px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }

  .footer-2-coloums {
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
  }

  .footer-column {
    flex: 1 1 100%;
    margin-left: 0;
  }

  .footer-column p {
    font-size: 16px;
    width: 100%;
    margin-bottom: 24px;
  }

  .footer-column ul li {
    margin-bottom: 15px;
  }

  .footer-column ul li a {
    font-size: 14px;
  }

  .social-icons {
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  .social-icons a {
    margin-right: 0;
  }

  .social-icons img {
    width: 36px;
    height: 36px;
  }
}




